// TYPOGRAPHY

// family
$font-main: 'Barlow', Arial, sans-serif;
$font-secondary: 'Fraunces', 'Times New Roman', serif;
// weights
$font-weigth-main: 600;
$font-weigth-secondary-bold: 700;
$font-weigth-secondary-black: 900;
// size
$font-size-text: 18px;
$font-size-title: 24px;

// COLORS

// brand colors

// background colors
$color-bg: hsl(7, 99%, 70%);

// accent colors
