.header {
  &__content {
    width: 100%;
    // max-width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; //prevents horizontal scrolling
    padding: 2rem 1.5rem;
    color: $color-font-bright;
  }

  &__title {
    text-transform: lowercase;
    font-size: 2rem;
    font-weight: $font-weigth-main;
  }
}

.burger-menu {
  display: inline-block;
  position: relative;    
  z-index: 1;  
  padding: 1rem;
  margin: -1rem;
  cursor: pointer;

  &__icon {
    width: 24px;
    height: auto;
    transform: translateY(3px);
  }
}