<section class="hero">
  <div class="u-wrapper hero__content">
    <h2 class="hero__title">We are creatives</h2>
    <include 
      src="../components/picture.html"
      imgSrc="./assets/images/small/image-header.jpg"
      imgSrcset="./assets/images/large/image-header.jpg"
      mediaQuery="(min-width: 500px)"
      imageClass="hero__image"
      role="representation"
    ></include>
    <img src="./assets/images/icon-arrow-down.svg" class="hero__icon" alt="">
  </div>
</section>